<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReservationGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ReservationGUI.Properties.Settings>
            <setting name="textBox1" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="textBox2" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="checkBox1" serializeAs="String">
                <value>True</value>
            </setting>
        </ReservationGUI.Properties.Settings>
    </userSettings>
</configuration>